@import '@/styles/globals';
@import '@/styles/mixins';

.category {
  background-color: $white;
  display: flex;
  width: 100%;
  min-height: 46px;
  gap: 30px;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    background-color: $gray-6;
  }

  .right {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
  }
}
