@import '@/styles/globals';
@import '@/styles/mixins';

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 4px 12px;
  border: none;
  border-radius: 20px;
  font-size: $font-2;
  background-color: $gray-2;

  &.clicked {
    background-color: $purple-1;
    color: $white;
  }
}
