/** basic */
$gray: gray;
$white: white;
$black: black;

/** gray */
$gray-1: #f0f1f3;
$gray-2: #e1e2e4;
$gray-3: #5e5f61;
$gray-4: #7d7e80;
$gray-5: #222;

/** blue */
$blue-1: #524fa1;

/** purple */
$purple-1: #423f8c;

/** Font - Headline */
$h1: 18px;

/** Font - body */
$font-1: 14px;
$font-2: 12px;

/** responsive */
$screen: 1280px;
