@import '@/styles/globals';
@import '@/styles/mixins';

.container {
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 283px;
  border: 1px solid $gray-2;
  flex-direction: column;
  border-radius: 10px;

  .SingleCategory_wrapper:not(:last-child) {
    border-bottom: 1px solid $gray-2;
  }
}
